@charset "UTF-8";
:root {
  --accent-color: #2196f3;
  --primery-text-color: #757575;
  --titel-text-color: #212121;
  --white-color: #ffffff;
  --main-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-color-hero-footer: #2f303a;
  --lodo-color: #000000;
}

/* Скрывает заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  color: var(--titel-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid #0ea106dc; */
}

/* Убирает все отступы */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

/* Убирает подчеркивание в списках */
ul {
  list-style: none;
}

/* Убирает точки в списках */
.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* Main-nav */
.header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Text and Font for Site-Nav/Auth-nav */
.site-nav,
.auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Site-Nav */
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .item {
  display: block;
}

.site-nav .link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link {
  color: var(--titel-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  bottom: -1px;
}

/* Auth-Nav */
.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.auth-nav .item + .item {
  margin-left: 30px;
}

.auth-icon {
  margin-right: 10px;
  fill: var(--primery-text-color);
  background-color: #fff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav-link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav-link {
  color: var(--primery-text-color);
}

.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
}

.auth-nav-link:hover .auth-icon,
.auth-nav-link:focus .auth-icon {
  fill: var(--accent-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo .accent {
  color: var(--lodo-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo .accent:hover,
.logo .accent:focus {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--logo-color);
}

.hero {
  background-color: var(--background-color-hero-footer);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img-hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero.jpg);
  max-width: 1600px;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 696px;
  display: inline-block;
}

.hero-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
  border: 1px solid transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-making {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-making {
  padding: 94px 0px;
  padding-top: 0;
}

.text {
  color: var(--primery-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.making-top-wrap {
  position: relative;
}

.making-text {
  position: absolute;
  bottom: 0;
  top: 88%;
  left: 50%;
  width: 370px;
  height: 70px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 27px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.making-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
}

.section-benefits .benefits-item + .benefits-item {
  margin-left: 30px;
}

.section-benefits,
.section-team {
  padding: 94px 0px;
}

.benefits-title {
  margin-bottom: 10px;
}

.sectio-icon-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.conteiner-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.conteiner-team .team-link + .team-link {
  margin-left: 30px;
}

.team-link {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-team {
  background-color: var(--secondary-background-color);
}

.section-team .team-link {
  background-color: #ffffff;
}

.personal-title,
.personal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.personal-text {
  color: var(--primery-text-color);
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.personal-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: 100%;
  gap: 10px;
}

.personal-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-soc {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.personal-soc-link:hover,
.personal-soc-link:focus {
  background-color: var(--accent-color);
}

.personal-soc-link:hover .icon-soc,
.personal-soc-link:focus .icon-soc {
  fill: var(--white-color);
}

.section-customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.customer-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titel-text-color);
  margin-bottom: 50px;
}

.customer-link {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-customer {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border-color: #2196f3;
}

.customer-link:hover .icon-customer,
.customer-link:focus .icon-customer {
  fill: #2196f3;
}

.footer {
  background-color: var(--background-color-hero-footer);
}

.footer__container {
  padding: 60px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  margin-bottom: 20px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer__logo:hover, .footer__logo:focus {
  color: var(--white-color);
}

.footer__logo .accent {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-color);
}

.footer__logo .accent:hover,
.footer__logo .accent:focus {
  color: var(--accent-color);
}

.navigation__address {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 9px;
  display: inline-block;
}

.navigation__link {
  color: var(--footer-text-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  display: inline-block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__item:not(:last-child) {
  margin-bottom: 9px;
}

.soc__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.soc__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.soc__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #eeeeee;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  background-color: #2196f3;
}

.soc__conteinet {
  max-width: 206px;
  margin-left: 70px;
}

.footer-subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  min-height: 86px;
  margin-left: 93px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form-input {
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  color: var(--white-color);
}

.button-subs-footer {
  background-color: var(--accent-color);
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: #2196f3;
}

.icon-subs-footer {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, 50%) scale(0);
          transform: translate(-50%, 50%) scale(0);
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

textarea {
  resize: none;
}

.modal-close:hover {
  fill: #2196f3;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  display: block;
}

.modal-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 10px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6px;
  color: #757575;
  letter-spacing: 0.01em;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form-input:focus {
  outline: transparent;
  border-color: var(--accent-color);
}

.modal-comment:focus {
  outline: transparent;
  border-color: var(--accent-color);
}

.input-wrap {
  position: relative;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-form-input:focus + .icon-modal {
  fill: var(--accent-color);
}

textarea::-webkit-input-placeholder {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 6px;
}

textarea::-moz-placeholder {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 6px;
}

textarea:-ms-input-placeholder {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 6px;
}

textarea::-ms-input-placeholder {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 6px;
}

textarea::placeholder {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 6px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.label-chekbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
}

.accent-color-accord {
  color: #2196f3;
  margin-left: 1.8px;
}

.checkbox-accord {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
}

.checkbox-accord::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 7px;
}

.input-checkbox-accord:checked + .checkbox-accord::before {
  background-color: #2196f3;
  border-color: var(--accent-color);
  background-image: url(../images/icon\ check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox-accord {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-go-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 55px;
  display: block;
  min-width: 200px;
  border: 1px solid transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.container-modal-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form-label {
  display: block;
  margin-bottom: 5px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__item {
  margin-top: 94px;
}

.filter__item + .filter__item {
  margin-bottom: 50px;
  margin-left: 8px;
}

.filter__button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--secondary-background-color);
  color: var(--titel-text-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: inline-block;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 94px;
}

.card__link {
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover, .card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__info {
  margin-right: 30px;
  margin-bottom: 30px;
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
}

.card__info:nth-child(3n) {
  margin-right: 0;
}

.card__info:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.card__item {
  position: relative;
  overflow: hidden;
}

.card__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
}
.card__info:hover .card__text, .card__info:focus .card__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__conteiner {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.header__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titel-text-color);
}

.header__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primery-text-color);
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */