
.benefits-conteiner{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.text{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.sectio-icon-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  // width: 270px;
  // height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
} 

.benefits-item{
  @media screen and (min-width: 480px){
    width: 100%;
 }
 @media screen and (min-width: 768px){
    flex-basis: calc((100% - 30px)/2);
 }
 @media screen and (min-width: 1200px){
    flex-basis: calc((100% - 90px)/4);
 }
}