.hero {
  background-color: var(--background-color-hero-footer);
  background-image: var(--bg-gradient), url(../images/header_mobile-img-min.jpg);

  background-size: cover;
  text-align: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;

  @include retina{
  background-image: var(--bg-gradient), url(../images/hero-mob-2x-min.jpg);
  }
  @media screen and (min-width: 768px){
    background-image: var(--bg-gradient), url(../images/header_tablet-img-min.jpg);
     @include retina{
    background-image: var(--bg-gradient), url(../images/hero-tabl-2x-min.jpg);}  
  }
  @media screen and (min-width: 1200px){
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: var(--bg-gradient), url(../images/Img-hero.jpg);
     @include retina{
    background-image: var(--bg-gradient), url(../images/hero-des-2x-min.jpg);
    }
  } 
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  width: 100%; 
  @media screen and (min-width: 480px) {
  max-width: 360px;
  }

  @media screen and (min-width: 768px){
  max-width: 360px;
  font-size: 26px;
  }

  @media screen and (min-width: 1200px){
  max-width: 696px;
  font-size: 44px;
  line-height: 1.36;
  }
}

.hero-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
  border: 1px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}