.conteiner-team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
    @media screen and (min-width: 480px){
  font-size: 28px;
  line-height: 1.17;
  }
  @media screen and (min-width: 768px){
  font-size: 28px;
  line-height: 1.17;
  }
  @media screen and (min-width: 1200px){ 
  font-size: 36px;
  line-height: 1.16;
  }
}

// .conteiner-team .team-link + .team-link {
//   margin-left: 30px;
// }

.team-link {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 480px){
    width: 100%;
 }
 @media screen and (min-width: 768px){
    flex-basis: calc((100% - 30px)/2);
 }
 @media screen and (min-width: 1200px){
    flex-basis: calc((100% - 90px)/4);
 }
}

.section-team {
  background-color: var(--secondary-background-color);
}
.section-team .team-link {
  background-color: #ffffff;
}

.personal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.personal-text {
  text-align: center;
  color: var(--primery-text-color);
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.personal-soc {
  display: flex;
  justify-content: center;
  background-size: 100%;
  gap: 10px;
}

.personal-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-soc {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.personal-soc-link:hover,
.personal-soc-link:focus {
  background-color: var(--accent-color);
}

.personal-soc-link:hover .icon-soc,
.personal-soc-link:focus .icon-soc {
  fill: var(--white-color);
}