/* Убирает все отступы */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

/* Убирает подчеркивание в списках */
ul {
  list-style: none;
}

/* Убирает точки в списках */
.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

// задает отступы
.padding {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px){
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px){
    padding-top: 94px;
    padding-bottom: 94px;
  }
}