/* Убирает все отступы */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

/* Убирает подчеркивание в списках */
ul {
  list-style: none;
}

/* Убирает точки в списках */
.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}