:root {
  --accent-color: #2196f3;
  --primery-text-color: #757575;
  --titel-text-color: #212121;
  --white-color: #ffffff;
  --main-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-color-hero-footer: #2f303a;
  --lodo-color: #000000;
}